<!DOCTYPE html>
<!DOCTYPE html>
<html ng-app="sbattle" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="../static/js/jquery-3.2.1.min.js"></script>

    <script src="../static/js/angular-1.6.4/angular.min.js"></script>
    <script src="../static/js/angular-1.6.4/angular-route.min.js"></script>
    <script src="../static/js/angular-ui-router.min.js"></script>

    <link rel="stylesheet" href="../static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="../static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="../static/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css"></script>
</head>
<body>
<div ng-controller="mainCtl">
    HELLO
    sfsdfds
    dgdfg
</div>
</body>
</html>