.game-board-player table {
  border: medium double black;
  background-color: dodgerblue;
}

.game-board-opponent table {
  border: medium double black;
  background-color: dodgerblue;
}



.game-board-player table tr td {
  border: 1px solid black;
  width: 1em;
  height: 1em;
  color: dimgray;
  border-radius: 13%;
}

.game-board-player .prepare table tr td:hover {
  border: 2px solid black;
  color: slategray;
  cursor: pointer;
}

.game-board-opponent table tr td {
  border: 1px solid black;
  width: 1em;
  height: 1em;
  color: dimgray;
  border-radius: 13%;
  cursor: crosshair;
}


.board-large table tr td {
  width: 2em;
  height: 2em;
}

.game-board-opponent table tr td.closed:hover {
  background-color: darkblue;
}


.game-board-opponent {
  display: inline-block;
  margin: 1em;
}
.game-board-player {
  display: inline-block;
  margin: 1em;
}




td.closed {
  background-color: dodgerblue;
}

td.opened_healthy {
  background-color: #4d2926;
}

td.opened_empty {
  background-color: lightgray;
}

td.opened_damaged {
  background-color: indianred;
}

td.opened_killed {
  background-color: red;
}


td.prepare_marked {
  background-color: deepskyblue;
}


button {
  border-radius: 10%;
  height: 4em ;
  width: 8em;
  font: 'Trebuchet', 'Trebuchet', 'Trebuchet';
  font-size: 2em;
  border: solid darkslategray 3px;
  cursor: pointer;
}

button.btnNewMatch {
  background-color: darkgreen;
}

button.btnStartGame {
  background-color: green;
}

button.btnHitMe {
  background-color: orangered;
}

